{# Load the tag library #}
{% load bootstrap3 %}
{% load static %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}


{% block content %}

{% for im in images %}

    <img height="150" width=auto src="{{ im.image_id.url }}">
    <li><a href="{% url 'insta:photo' im.id %}">{{ im.description }}</a></li>
    <br>
    <br>

{% endfor %}


  <p><a href="{% url 'insta:ura' %}">Return to home</a></p>
{% endblock %}