{% extends 'insta/base.html' %}
{# Load the tag library #}
{% load bootstrap3 %}
{% load static %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}


{% block content %}
      <script type="text/javascript">
          submitForms = function(){
              document.getElementById("form").submit();
              }
      </script>
<div class="elem">
    <p>image:</p>
    <img height="150" width=auto src="{{ image_id }}">
    <br>
    <label>id:</label>
    <h2>{{ id }}</h2>
    <label>nickname:</label>
    <a href="{% url 'insta:profile_page' created_id %}"><h1>{{ created_by }}</h1></a>
    <label>date:</label>
    <h2>{{ created_at }}</h2>
</div>
<div class="elem">
    <h1> Нравится: {{ l_num }}</h1>
</div>
  <form action="{% url 'insta:makelike' id %}" method="get">
    <button>{{ text_button }}</button>
  </form>

  <form action="{% url 'insta:dele' id %}" method="get">
    <button>Удалить запись !</button>
  </form>

    <h1>Комментарии:</h1>

{% for comm in comments %}
<div class="elem">
    <a href="{% url 'insta:profile_page' comm.sender_id.id %}">{{ comm.sender_id.nickname_user }}</a>
    <h3>{{ comm.text }}</h3>
    <br>
    <br>
</div>
{% endfor %}
<div class="elem">
<form enctype="multipart/form-data" novalidate="" action=""  method="post" id = "form" class="form">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
  <button type="button" class="btn btn-primary" onclick="submitForms()">
    {% bootstrap_icon "star" %} Отправить
  </button>
  {% endbuttons %}
</form>
</div>
  <p><a href="{% url 'insta:home' %}">Return to home</a></p>
{% endblock %}