{% extends 'insta/base.html' %}
{# Load the tag library #}
{% load bootstrap3 %}
{% load static %}

{% block content %}

      <div class="welcome">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-3">
            <img class="img-circle img-responsive avatar" src="{{ image_id }}" width="300" height="300"/>
          </div>

          <div class="col-md-5">
            <p>{{ nickname_user }}</p>
            <p>{{ email_user }}</p>
            <p class="subs">Количество подписчиков: <b>{{ man_num }}</b></p>
            <p class="subs">Количество подписок: <b>{{ follow_to_num }}</b></p>
          </div>

          <div class="col-md-3">
            <div class="another">
              <h2><a href="login.html">Выйти</a></h2>
            </div>
          </div>

        </div>

      </div>


    <h1> Публикации: </h1>

    {% for im in images %}
        <div class="elem">
            <img width="300" height=auto src="{{ im.image_id.url }}">
            <li><a href="{% url 'insta:photo' im.id %}">{{ im.description }}</a></li>
            <p> {{ im.created_at }} </p>
            <br>
            <br>
        </div>
    {% endfor %}

{% endblock %}