{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/master.css" %}"s media="screen" title="no title" charset="utf-8">
    <title>CatoGrapher</title>
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="row">
          <div class="col-md-1"> </div>
          <div class="col-md-1 logo">
            <a href="world.html" class="MenuLink">
            <img src="{% static  "images/catface.jpg" %}"width="80" height="80" />
            </a>
          </div>
          <div class="col-md-3">
            <h1 class="PostmanLogo"><span id="P">C</span>ato<span id="P">G</span>rapher</h1>
          </div>
          <div class="col-md-3">
            <nav class="menu">
              <ul class="nav nav-pills">
                <li>
                  <form class="search">
                     <input type="text" size="100%" class="form-control" placeholder="Поиск">
                  </form>
                </li>
              </ul>
            </nav>
          </div>
          <div class="col-md-3">
            <nav class="icons">
              <ul class="nav nav-pills">
                  <li><a href="{% url 'insta:home' %}" class="MenuLink">
                      <img src="{% static  "images/track.jpg" %}"  width="50" height="50" />
                      <h3>home</h3>
                  </a></li>
                  <li><a href="likes.html" class="MenuLink">
                      <img src="{% static  "images/heart.jpg" %}" height="50" />
                      <h3>likes</h3>
                  </a></li>
                  <li><a href="{% url 'insta:profile' %}" class="MenuLink">
                      <img src="{% static  "images/ball.jpg" %}" width="40" height="40" />
                      <h3>profile</h3>
                  </a></li>
                  <li><a href="{% url 'insta:login' %}" class="MenuLink">
                      <img src="{% static  "images/login.jpg" %}" width="40" height="40" />
                      <h3>войти</h3>
                  </a></li>

              </ul>
            </nav>
          </div>

        </div>

      </div>
    </header>



<div class="space_junk"></div>

    <div class="container">

                {% block content %}

                {% endblock %}

    </div>


    <div class="footer"> </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </body>
</html>
