{# Load the tag library #}
{% extends 'insta/base.html' %}

{% load bootstrap3 %}
{% load static %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block title %}Лента новостей:{% endblock %}

{% block content %}

<div class="row">
{% for im in images %}
    <div class="col-md-4">
        <div class="catavar_item">
            <div class="row catavar">
                <div class="col-md-4"><div class="image"><img src="{{ im.created_by.image_id.url }}" class="img-responsive"></div></div>
                <div class="col-md-8"><a href="{% url 'insta:profile_page' im.created_by.id %}">{{ im.created_by.nickname_user }}</a></div>
            </div>

            <div class="catavar cataphoto">
                <div class="image">
                    <img src="{{ im.image_id.url }}" alt="top item" class="img-responsive"/>
                </div>
            </div>

            <div>
                <p class="subs"><a href="{% url 'insta:photo' im.id %}">{{ im.description }}</a></p>
            </div>
        </div>
    </div>
{% endfor %}
</div>






  <p><a href="{% url 'insta:ura' %}">Return to home</a></p>
{% endblock %}
